node-red-sample.json
[{"id":"a60519de.a96dd8","type":"watson-conversation-v1","z":"9034822a.f32db","name":"ABEP3-WA-03","workspaceid":"96bbcd49-3f72-49cd-aa52-333bbd81462b","multiuser":false,"context":false,"empty-payload":true,"default-endpoint":false,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":444,"y":129,"wires":[["9294d0ee.7825c"]]},{"id":"9294d0ee.7825c","type":"function","z":"9034822a.f32db","name":"Output edit","func":"var text;\n\nmsg.payload.output.text.forEach(function(value, index) {\n    ( index === 0) ? text = value : text += \"。\"+value;\n});\nmsg.headers = {\"Access-Control-Allow-Origin\": \"*\"};\nmsg.payload.output = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":633,"y":129,"wires":[["e53bace3.b89b3","c8b2808c.1c5c5"]]},{"id":"23ce8d8f.6b54a2","type":"function","z":"9034822a.f32db","name":"pre","func":"msg.payload = msg.payload.input;\nmsg.params = { \"context\": msg.req.body.context };\nif (msg.req.body.alternate_intents) {\n    msg.params.alternate_intents = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":129,"wires":[["a60519de.a96dd8"]]},{"id":"9b304ff1.a3247","type":"http response","z":"9034822a.f32db","name":"","statusCode":"","headers":{},"x":825,"y":341,"wires":[]},{"id":"83c0880e.9eab58","type":"http in","z":"9034822a.f32db","name":"","url":"/conv","method":"post","upload":false,"swaggerDoc":"","x":118,"y":128,"wires":[["23ce8d8f.6b54a2","f04c17e7.fbb438"]]},{"id":"f04c17e7.fbb438","type":"debug","z":"9034822a.f32db","name":"入力","active":true,"console":"false","complete":"true","x":279,"y":58,"wires":[]},{"id":"f0e924.ffeb76d8","type":"switch","z":"9034822a.f32db","name":"go2Discovery","property":"payload.output","propertyType":"msg","rules":[{"t":"cont","v":"enriched_body.entities.type::","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":181,"y":271,"wires":[["6532a2c.4fc235c","225c1a43.a0e216"],["9b304ff1.a3247"]]},{"id":"6532a2c.4fc235c","type":"function","z":"9034822a.f32db","name":"function:query","func":"msg.discoveryparams = {};\nmsg.discoveryparams.query = msg.payload.output;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":267,"wires":[["e23d83e3.a722f","eb1764f0.8fdef8"]]},{"id":"8a30d4f5.5f3068","type":"watson-discovery-v1","z":"9034822a.f32db","name":"ABEP3-WDS-03(KIT-ABES-collection)","environmentname":"","environment_id":"af483840-722f-4454-b537-ca15d31489c4","collection_id":"9bfddd5d-6592-45f9-9036-7d4ef0e73e95","configurationname":"","configuration_id":"","collection_name":"","count":"5","passages":true,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"title,contentsHtml","description":"","size":0,"discovery-method":"query","default-endpoint":true,"service-endpoint":"","x":248,"y":385,"wires":[["9ce92429.2aff08"]]},{"id":"9ce92429.2aff08","type":"function","z":"9034822a.f32db","name":"function:output contentsHtml","func":"var text;\nmsg.search_results.results.forEach( function(value, index){\n (index ===0)?text=\"<html><br>\"+value.title+\"<br>\"+value.contentsHtml:text+=\"<br><br>\"+value.title+\"<br>\"+value.contentsHtml;\n});\nmsg.headers = {\"Access-Control-Allow-Origin\": \"*\"};\n//msg.payload = text+\"</html>\";\nmsg.payload.output = text+\"</html>\";\nreturn msg;","outputs":1,"noerr":0,"x":578,"y":384,"wires":[["8dec6507.2467f8","9b304ff1.a3247"]]},{"id":"8dec6507.2467f8","type":"debug","z":"9034822a.f32db","name":"msg.discovery","active":true,"console":"false","complete":"true","x":659,"y":480,"wires":[]},{"id":"e23d83e3.a722f","type":"debug","z":"9034822a.f32db","name":"WDS Input","active":true,"console":"false","complete":"payload.output","x":667.5,"y":208,"wires":[]},{"id":"e53bace3.b89b3","type":"debug","z":"9034822a.f32db","name":"","active":true,"console":"false","complete":"true","x":762,"y":56,"wires":[]},{"id":"225c1a43.a0e216","type":"debug","z":"9034822a.f32db","name":"","active":true,"console":"false","complete":"payload.output","x":408,"y":205,"wires":[]},{"id":"abea773c.3a1868","type":"link in","z":"9034822a.f32db","name":"","links":["c8b2808c.1c5c5"],"x":57,"y":272,"wires":[["f0e924.ffeb76d8"]]},{"id":"c8b2808c.1c5c5","type":"link out","z":"9034822a.f32db","name":"","links":["abea773c.3a1868"],"x":854,"y":130,"wires":[]},{"id":"eb1764f0.8fdef8","type":"link out","z":"9034822a.f32db","name":"","links":["2bac0739.b20758"],"x":854,"y":267,"wires":[]},{"id":"2bac0739.b20758","type":"link in","z":"9034822a.f32db","name":"","links":["eb1764f0.8fdef8"],"x":60,"y":386,"wires":[["8a30d4f5.5f3068"]]}]
